extends ../auth.layout.pug

block content

  section.welcome
    .welcome__button
      button.button Авторизоваться
    .flip-container
        .welcome__bg__flip
            
          .front
          +card-avatar('', 'Трофимов Павел', 'Сайт веб-разрабочтика')
          .welcome__socials
            ul.socials
              each social in ['vk', 'github', 'in']
                li.social__item
                  a(href="").socials__link
                    +icon(social, 'social__icon')
          .welcome__nav
            +nav('nav', ['Мои работы', 'Обо мне', 'Блок'])
          .back
          test_2


     

          


          