extends ../auth.layout.pug

block content

  section.welcome
    .welcome__button
      button.button Авторизоваться
    .welcome__content
      +image('content/layer.jpg', 'page title', 'title-img')
      .welcome__user-desc
        .user
          .user__pic-container
            .user__pic
             +image('content/user.jpg', 'user pic', 'user__pic-img')
        .user__info
          user__name Павел Трофимов
          user__desc Личный сайт веб разработчика
          